#status-less {
  float: right;
  margin-top: 5px;
  padding: 7px !important;
  border-radius: 50%;
  border: 1px solid #343434;
  background-color: transparent;
  transition: .3s;
  &.success {
    background-color: #89ff00;
  }
  &.error {
    background-color: #ff3100;
  }
  &.fade {
    opacity: .3;
  }
}
